@import "tailwindcss";

@theme {
  --color-tomato: rgba(255, 87, 51, 1);
  --color-background: rgb(208, 201, 181);
  --color-primary: rgb(76, 71, 76);
  --color-primary-fade: rgba(76, 71, 76, 0.5);
  --color-primary-active: rgb(182, 64, 64);
  --color-contrast: rgba(236, 236, 236, 1);
  --color-indigo: rgba(58, 80, 138, 1);
  --color-brick: rgba(138, 58, 58, 1);
  --color-jungle: rgba(48, 120, 90, 1);
  --color-clay: rgba(165, 113, 85, 1);
  --color-slate: rgba(59, 59, 59, 1);

  --font-sans: "Open Sans", sans-serif;
  --font-title: "Manrope", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}
@layer component {
  .text-title-mega {
    font-size: 200px;
    font-weight: 700;
  }
  .text-title-xxxxl {
    font-size: 64px;
    font-weight: 800;
  }
  .text-title-xxxl {
    font-size: 64px;
    font-weight: 700;
  }
  .text-title-mono {
    font-size: 50px;
    font-weight: 400;
    font-family: var(--font-mono);
  }
  .text-title-xxl {
    font-size: 48px;
    font-weight: 700;
  }
  .text-title-xl {
    font-size: 36px;
    font-weight: 700;
  }
  .text-title-xl {
    font-size: 32px;
    font-weight: 700;
  }
  .text-title-l {
    font-size: 24px;
    font-weight: 700;
  }
  .text-title-l-thin {
    font-size: 24px;
    font-weight: 400;
  }
  .text-title-m {
    font-size: 21px;
    font-weight: 600;
  }
  .text-body-m {
    font-size: 16px;
    font-weight: 600;
  }
  .text-body-xs {
    font-size: 12.18px;
    font-weight: 600;
  }
  .text-body-xxs {
    font-size: 9.9px;
    font-weight: 600;
  }
}
@layer base {
  ul {
    list-style-type: none;
    padding-left: 0.5rem; /* or margin-left */
  }
  ul li::before {
    content: "";
    display: inline-block;
    width: 5px; /* Exact pixel size ye want */
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 0.75em;
    vertical-align: middle;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }

  /* Nested lists */
  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }
}
